$font-family: 'Roboto';

* {
  font-family: $font-family !important;
  text-rendering: optimizeLegibility !important;

  &::before,
  &::after {
    font-family: $font-family !important;
    text-rendering: optimizeLegibility !important;
  }
}

.app {
  &__w {
    margin-left: 50px;
    padding: 15px;
  }

  // &__body {
  //   background-color: rgb(247, 249, 252);
  // }
}
