// @use "sass:meta";
$font-family: 'Roboto';
// TODO - meta.inspect
// .app {
//   --font-family-sans-serif: #{meta.inspect($font-family-sans-serif)};
//   --font-family-monospace: #{meta.inspect($font-family-monospace)};
// }

* {
  font-family: $font-family !important;
  text-rendering: optimizeLegibility !important;

  &::before,
  &::after {
    font-family: $font-family !important;
    text-rendering: optimizeLegibility !important;
  }
}

.app {
  &__w {
    margin-left: 50px;
    padding: 15px;
  }

  &__body {
    height: 900px;
    border: 1px solid red;
  }
}
